.article1BG{
    background-image: url("placeholderBig1.jpg");
    width: 100%;
    height: 100%;
}

.article1{
    /* background-color: none; */
    color: white;
}

/* .article2Img{
    max-width: 70%;
    height: auto;
} */

.article3BG{
    background-image: url("placeholderBig2.jpg");
    width: 100%;
    height: 100%;
}